* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #3a3d3c;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
}
h3 {
  font-size: 1.2em;
  font-weight: 500;
}
span {
  padding-left: 15px;
}
/****************/
/* FORM WRAPPER */
#form_wrapper {
  margin: 50px auto;
  width: 800px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px auto auto;
}

/****************/
/* PROGRES BAR */
#progress_bar {
  position: relative;
  grid-area: 1 / 1 /2/3;
  background-color: lightgray;
}

#power {
  position: absolute;
  background: linear-gradient(to right, #a6cc45 70%, #c2ee51 100%);
  width: 32%;
  height: 50px;
  transition: 1s;
}

#battery {
  position: absolute;
  z-index: 1;
  transform: translate(-1px, -1px);
}
#step_title {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 40px;
  color: gray;
  font-size: 1.2em;
}
.selected_step {
  color: #3a3d3c;
  font-weight: 500;
  color: white;
}

/****************/
/* FORM */
form {
  grid-area: 2 / 1 / 3 / 2;
  background-color: white;
  padding: 15px;
}

input,
select {
  margin-bottom: 20px;
  padding: 6px;
  border: 1px solid #e8e5e6;
  border-radius: 5px;
}
input:hover,
select:hover,
label:hover {
  cursor: pointer;
}
input,
label {
  display: block;
}

input:focus,
select:focus {
  outline-color: #a6cc45;
}
input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border: 1px solid #e8e5e6;
  vertical-align: -2px;
}
input[type="checkbox"]:focus {
  outline: none;
}
input[type="checkbox"]::before {
  content: "✔";
  color: #a6cc45;
  position: absolute;
  font-size: 1.2em;
  right: 0;
  top: -0.3em;
  visibility: hidden;
}
input[type="checkbox"]:checked::before {
  visibility: visible;
}

label {
  font-size: 0.9em;
  font-weight: 500;
}
/* hides all steps by default */
.step {
  display: none;
}
/* Radio-buttons */
.one_line {
  display: flex;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 15px;
  height: 15px;

  border: 1px solid #e8e5e6;
  outline: none;
}
input[type="radio"]:checked {
  background-color: #a6cc45;
  border: none;
}
/****************/
/* FORM - CART */

/* services */
.service_wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.service_content {
  grid-column: 2/3;
  padding: 10px;
}
.service_content input {
  width: 42px;
  height: 20px;
}

.info_flex {
  display: flex;
}
.linethrough_price {
  text-decoration: line-through;
  color: #a29fa0;
}
/* Delivery */
#delivery_wrapper label {
  display: block;
}
/****************/
/* FORM - REGISTRER */

#or {
  position: relative;
  z-index: 1;
  color: #a29fa0;
  font-size: 1em;
  font-weight: 400;
  margin: 30px 0;
}
#or:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 200px;
  right: 0;
  border-top: solid 1px #c7c6c6;
}

#signup_details {
  display: grid;
  grid-template-columns: 1fr;
}
#signup_details_name {
  padding: 0;
  margin: 0;
}
#new_country {
  width: 90px;
  height: 30px;
  background-color: white;
}
#phone_wrapper {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

#new_phone {
  width: 120px;
  border-radius: 0 4px 4px 0;
  margin-bottom: 0px;
}
#phone_code {
  background-color: #e2e2e2;
  width: 42px;
  padding: 6px;
  border-radius: 4px 0 0 4px;
}
#new_email {
  width: 180px;
}
#new_password {
  width: 160px;
}

.textunder_password {
  transform: translateY(-18px);
}

#check_field {
  font-size: 0.8em;
  margin-top: 20px;
  padding-top: 30px;
  border-top: solid 1px #c7c6c6;
}
/* Facebook SignUp */
.logo {
  background: #0064ab;
  background-image: url(images/logo-facebook-white-small.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 4px 0px 0px 4px;
}
.continuetxt {
  margin: auto auto;
}

.fcbtag {
  display: flex;
  color: white;
  background: #0079ce;
  border-radius: 4px;
  height: 50px;
  width: 250px;
  text-align: center;
  overflow: hidden;
}
.fcbtag:hover .logo {
  background-color: #004d85;
}
.fcbtag:hover {
  background-color: #0068b3;
  cursor: pointer;
}

.textunder {
  font-size: 0.7em;
}

/****************/
/* FORM - PAYMENT */
#payment_methods {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-gap: 15px;
}
.pay_method {
  display: grid;
  grid-template-rows: 80px 30px;
  border: 1px solid #e8e5e6;
  padding: 15px;
  text-align: center;
}
#payment_methods img {
  width: 80px;
}
.pay_method:hover {
  border: 1px solid #a6cc45;
  cursor: pointer;
}

#new_card {
  width: 150px;
}
#new_expiry_date {
  width: 60px;
}
#new_cvc {
  width: 50px;
}

/****************/
/* VALIDATION */
.check_validation:invalid {
  border: 1px solid red;
  background-color: rgb(255, 239, 239);
}
.check_validation:valid {
  border: 1px solid #a6cc45;
  background-color: white;
}

.validation_fail {
  font-size: 0.7em;
  color: red;
  padding-left: 5px;
}
#invalid_delivery::after,
#invalid_first::after,
#invalid_last::after,
#invalid_mail::after,
#invalid_password::after {
  position: absolute;
  transform: translateY(-20px);
  width: 350px;
}
#invalid_phone::after {
  position: absolute;
  transform: translate(-160px, 30px);
}
#invalid_password::after {
  position: absolute;
  transform: translateY(-5px);
}

.check_validation:invalid + #invalid_delivery::after {
  content: "Please pick a delivery method";
}

.check_validation:invalid + #invalid_first::after {
  content: "Please enter your first name";
}
.check_validation:invalid + #invalid_last::after {
  content: "Please enter your last name";
}
.check_validation:invalid + #invalid_phone::after {
  content: "Please type your phone-number. fx: 12 34 45 56";
}
.check_validation:invalid + #invalid_mail::after {
  content: "Please enter your E-mail. fx: mail@example.com";
}

.check_validation:invalid + #invalid_password::after {
  content: "Your password must have at least 8 characters. And it must include Uppercase, Lowercase and a number or special character.";
}

/****************/
/* BUTTONS */

#buttons {
  background-color: white;
  grid-area: 3 / 1 / 4 / 2;
  padding: 0 15px;
}

#submit {
  display: none;
  border: 1px solid #a6cc45;
}

button,
#submit {
  background-color: #a6cc45;
  width: 300px;
  padding: 20px 0;
  margin: 20px 0;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}
button:focus,
#submit:focus {
  outline: none;
}
button:hover,
#submit:hover {
  background-color: #9bbe40;
}

#next_step {
  padding: 20px 0;
  margin: 20px 0;
  z-index: 2;
}

/****************/
/* SUMMARY */
#summary {
  grid-area: 2 / 2 /4/ 3;
  padding: 15px;
  background-color: white;
  border-left: 1px solid lightgray;
}
#summary span {
  padding-left: 0;
}

.sum {
  display: none;
}

/****************/
/* QUESTION-MARK ? */
.question {
  color: white;
  font-weight: bold;
  position: absolute;
  background-color: #a6cc45;
  width: 30px;
  height: 30px;
  padding: 6px 11px;
  transform: translate(160px, -35px);
  border-radius: 50%;
  cursor: pointer;
}

.question_swap {
  transform: translate(175px, -35px);
}

.question_info {
  display: none;
  width: 220px;
  z-index: 3;
  position: absolute;
  padding: 10px;
  top: 30%;
  left: 50%;
  background-color: white;
  border: 1px solid #a6cc45;
}
.close_charger,
.close_swap {
  font-size: 0.9em;
  font-weight: 400;
  padding: 10px;
  width: 130px;
  border: none;
  text-decoration: underline;
  background-color: transparent;
  color: #a6cc45;
  margin: 0;
}

.close_charger:hover,
.close_swap:hover {
  color: white;
}
