* {
  box-sizing: border-box;
}

body {
  background-color: gray;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #3a3d3c;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
}
h3 {
  font-size: 1.2em;
  font-weight: 500;
}
span {
  padding-left: 15px;
}
/****************/
/* FORM WRAPPER */
#form_wrapper {
  margin: 50px auto;
  width: 800px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px auto auto;
}

/****************/
/* PROGRES BAR */
#progress_bar {
  position: relative;
  grid-area: 1 / 1 /2/3;
  background-color: lightgray;
}
#power {
  position: absolute;
  background-color: #a6cc45;
  width: 33%;
  height: 50px;
  transition: 1s;
}
#battery {
  position: absolute;
  z-index: 1;
}
#step_title {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 40px;
  color: gray;
  font-size: 1.2em;
}
.selected_step {
  color: #3a3d3c;
  font-weight: 500;
}

/****************/
/* FORM */
form {
  grid-area: 2 / 1 / 3 / 2;
  background-color: white;
  padding: 15px;
}
input,
select {
  margin-bottom: 20px;
  padding: 6px;
}
input:hover,
select:hover,
label:hover {
  cursor: pointer;
}
input,
label {
  display: block;
}

input:focus,
select:focus {
  outline-color: #a6cc45;
}
input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border: 1px solid #999;
  vertical-align: -2px;
}
input[type="checkbox"]:focus {
  outline: none;
}
input[type="checkbox"]::before {
  content: "✔";
  color: #a6cc45;
  position: absolute;
  font-size: 1.2em;
  right: 0;
  top: -0.3em;
  visibility: hidden;
}
input[type="checkbox"]:checked::before {
  visibility: visible;
}

label {
  font-size: 0.9em;
  font-weight: 500;
}
/* hides all steps by default */
.step {
  display: none;
}
/* Radio-buttons */
.one_line {
  display: flex;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 15px;
  height: 15px;

  border: 1px solid #999;
  outline: none;
}
input[type="radio"]:checked {
  background-color: #a6cc45;
  border: none;
}
/****************/
/* FORM - CART */

/* services */
.service_wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.service_content {
  grid-column: 2/3;
  padding: 10px;
}
.service_content input {
  width: 42px;
  height: 20px;
}

.info_flex {
  display: flex;
}
.linethrough_price {
  text-decoration: line-through;
  color: #a29fa0;
}
/* Delivery */
#delivery_wrapper label {
  display: block;
}
/****************/
/* FORM - REGISTRER */
#signup_details {
  display: grid;
  grid-template-columns: 1fr;
}
#new_country {
  width: 90px;
  height: 30px;
  background-color: white;
}
#new_phone {
  width: 120px;
}
#new_email {
  width: 180px;
}
#new_password {
  width: 160px;
}
/* Facebook SignUp */
.logo {
  background: #0064ab;
  background-image: url(images/logo-facebook-white-small.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 4px 0px 0px 4px;
}
.continuetxt {
  margin: auto auto;
}

.fcbtag {
  display: flex;
  color: white;
  background: #0079ce;
  border-radius: 4px;
  height: 50px;
  width: 250px;
  text-align: center;
  overflow: hidden;
}
.fcbtag:hover .logo {
  background-color: #004d85;
}
.fcbtag:hover {
  background-color: #0068b3;
  cursor: pointer;
}

.textunder {
  font-size: 0.9em;
}

/****************/
/* FORM - PAYMENT */
#payment_methods {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-gap: 15px;
}
.pay_method {
  display: grid;
  grid-template-rows: 80px 30px;
  border: 1px solid #999;
  padding: 15px;
  text-align: center;
}
#payment_methods img {
  width: 80px;
}
.pay_method:hover {
  border: 1px solid #a6cc45;
  cursor: pointer;
}

#new_card {
  width: 150px;
}
#new_expiry_date {
  width: 60px;
}
#new_cvc {
  width: 50px;
}

/****************/
/* VALIDATION */
.check_validation:invalid {
  border: 1px solid red;
}
/****************/
/* BUTTONS */

#buttons {
  background-color: white;
  grid-area: 3 / 1 / 4 / 2;
  padding: 0 15px;
}

#submit {
  display: none;
  border: 1px solid #a6cc45;
}

button,
#submit {
  background-color: #a6cc45;
  width: 300px;
  padding: 20px 0;
  margin: 20px 0;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}
button:focus,
#submit:focus {
  outline: none;
}
button:hover,
#submit:hover {
  background-color: #9bbe40;
}

#next_step {
  padding: 20px 0;
  margin: 20px 0;
  z-index: 2;
}

/****************/
/* SUMMARY */
#summary {
  grid-area: 2 / 2 /4/ 3;
  padding: 15px;
  background-color: white;
  border-left: 1px solid lightgray;
}
.sum {
  display: none;
}

/****************/
/* QUESTION-MARK ? */
.question {
  font-weight: bold;
  position: absolute;
  background-color: #a6cc45;
  width: 30px;
  height: 30px;
  padding: 6px 11px;
  transform: translate(160px, -35px);
  border-radius: 50%;
  cursor: pointer;
}

.question_swap {
  transform: translate(175px, -35px);
}

.question_info {
  display: none;
  width: 220px;
  z-index: 3;
  position: absolute;
  padding: 10px;
  top: 30%;
  left: 50%;
  background-color: white;
  border: 1px solid #a6cc45;
}
.close_charger,
.close_swap {
  font-size: 0.9em;
  font-weight: 400;
  padding: 10px;
  width: 130px;
  border: none;
  text-decoration: underline;
  background-color: transparent;
  color: #a6cc45;
  margin: 0;
}
